name = "yongin-tennis-worker"
main = "src/index.js"
compatibility_date = "2026-01-25"

# KV
kv_namespaces = [
  { binding = "CACHE", id = "64f7e91517344e6fa23d95ae042f94df" }
]

# D1
d1_databases = [
  { binding = "yongin_tennis_db", database_name = "yongin-tennis-db", database_id = "5e305821-e677-49e9-a582-4e72ecf46d20" }
]

[vars]
REFRESH_TOKEN = "CHANGE_ME"

VAPID_PRIVATE_KEY = "roai0L2t_DhxnhgjiRKWJ9yjf6eEH87Fysogn1Z8vxw"
VAPID_PUBLIC_KEY = "BJMHlXTjGlkAKLYuzldktlSsgX-sleCNic66FfM0AjAmmlSZGu1l7hkzpM6vnvnBjbDEqwA4dDd8V2C5u8S2f7I"
VAPID_SUBJECT = "mailto:ccoo2000@naver.com"

[triggers]
# */2분 일반 크론 + 23시 priority는 코드에서 분기
crons = ["* * * * *"]

[observability]
[observability.logs]
enabled = false
invocation_logs = true
